/* App.css is empty now, using tailwind */
@layer base {
  body {
    @apply bg-[#0a0a0b] text-white antialiased overflow-hidden;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
